{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Jafar Sadigzade">
        <title> Giriş </title>

        <!-- CSS -->
        <link rel="stylesheet" href="{% static '/css/signupstyle.css' %}">
                
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
                        
    </head>
    <body>
        <section class="container forms">
            <div class="form login">
                <div class="form-content">
                    <header>Parol sıfırlama</header>
                    <form action="{% url 'forget-password' %}" method="POST">
                        {% csrf_token %}
                        {%if message%}<div style="background-color: rgba(255, 0, 0, 0.4); line-height: 1.5;"> {{message}}&nbsp;{{username}} </div>{%endif%}
                        <div class="field input-field">
                            <input type="text" placeholder="name" class="input" name="username">
                        </div>

                        <div class="field button-field">
                            <button>Göndər</button>
                        </div>
                    </form>
                </div>

                <div class="line"></div>
            </div>
        </section>

        <!-- JavaScript -->
        <script src="{% static '/js/signupscript.js' %}"></script>
    </body>
</html>