{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <title>barbershop.az | Hesabım</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Jafar Sadigzade">
        <link rel="stylesheet" href="{%static "css/bootstrap.min.css"%}">
        <link rel="stylesheet" href="{%static "css/profilestyle.css"%}">
    </head>
    <body>
        <nav class="navbar navbar-dark bg-primary">
            <div class="container justify-content-end">
                <a class="navbar-brand ml-auto" href="{% url 'barber' barber.id %}">Əsas səhifə</a>
                <a class="navbar-brand ml-auto" href="{% url 'services' barber.id %}">Xidmətlər</a>
            </div>
        </nav>
        <form action="{% url 'profile' barber.id %}" method="POST">
        {%csrf_token%}
            <div class="container rounded bg-white mt-5 mb-5">
                <div class="row">
                    <div class="col-md-3 border-right">
                        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                            <img class="rounded-circle mt-5" width="150px" src="{{barber.barber_img.url}}" value="">
                            <span class="font-weight-bold">
                                <input type="text" value="{{user.username}}"  class="form-control" readonly>
                                <input type="text" value="Komissiya faizi: {{barber.interest_rate}}"  class="form-control" readonly>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-5 border-right">
                        <div class="p-3 py-5">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 class="text-right">Hesab tənzimləmələri</h4><br>
                            </div>
                            {% if messages %}
                                {% for message in messages %}
                                    <h6 class="alert {{ message.tags }} m-2"> {{message}} </h6>
                                {% endfor %}
                            {% endif %}
                            <div class="row mt-2">
                                <div class="col-md-6">
                                    <label class="labels">Adınız</label>
                                    <input type="text" name="first_name" value="{{user.first_name}}" maxlength="150" id="id_first_name" class="form-control">
                                </div>
                                <div class="col-md-6">
                                    <label class="labels">Soyadınız</label>
                                    <input type="text" name="last_name" value="{{user.last_name}}" maxlength="150" id="id_last_name" class="form-control">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <label class="labels">Əlaqə nömrəsi</label>
                                    <input type="text" name="phone_number" value="{{barber.barber_phone_number}}" maxlength="10" id="id_phone_number" class="form-control">
                                </div>
                                <div class="col-md-12">
                                    <label class="labels">Address</label>
                                    <input type="text" name="address" value="{{barber.barber_address}}" maxlength="300" id="id_address" class="form-control">
                                </div>
                                <div class="col-md-12">
                                    <label class="labels">Facebook</label>
                                    <input type="text" name="facebook" value="{{barber.barber_facebook}}" maxlength="50" id="id_address" class="form-control">
                                </div>
                                <div class="col-md-12">
                                    <label class="labels">Twitter</label>
                                    <input type="text" name="twitter" value="{{barber.barber_twitter}}" maxlength="50" id="id_address" class="form-control">
                                </div>
                                <div class="col-md-12">
                                    <label class="labels">Instagram</label>
                                    <input type="text" name="instagram" value="{{barber.barber_instagram}}" maxlength="50" id="id_address" class="form-control">
                                </div>
                                <div class="col-md-12">
                                    <label class="labels">Youtube</label>
                                    <input type="text" name="youtube" value="{{barber.barber_youtube}}" maxlength="50" id="id_address" class="form-control">
                                </div>
                                <div class="col-md-12">
                                    <label class="labels">Whatsapp</label>
                                    <input type="text" name="whatsapp" value="{{barber.barber_whatsapp}}" maxlength="50" id="id_address" class="form-control">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6">
                                    <label class="labels">İşə başlama saatı</label>
                                    <input type="text" name="start_time" value="{{barber.barber_start_time}}" class="form-control">
                                </div>
                                <div class="col-md-6">
                                    <label class="labels">İşin bitmə saatı</label>
                                    <input type="text" name="end_time" value="{{barber.barber_end_time}}" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label class="labels">Əgər <b><u>İstirahət</u></b> seçilsə rezervasiya qəbul edə bilməyəcəksiniz!</label><br>
                                <select class="form-control" name="day_off" required>
                                    {%if barber.is_active%}
                                    <option value="True">Təyin olunan: İş günü</option>
                                    <option value="False">İstirahət günü</option>
                                    {%else%}
                                    <option value="False">Təyin olunan: İstirahət günü</option>
                                    <option value="True">İş günü</option>
                                    {%endif%}
                                </select>
                            </div>
                            <div class="mt-5 text-center"><button type="submit" class="btn btn-primary profile-button" type="button">Yadda saxla</button></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12">
                            <div class="p-3 py-5">
                                <div class="d-flex justify-content-between align-items-center experience"><h4 class="text-right">Hesab əməliyyatları</h4></div><br>
                                <h3>Tezliklə</h3>
{#                                <div class="col-md-12">#}
{#                                    <label style="font-size:18px;" class="labels">Hesabdakı məbləğ:&nbsp;{{barber.barber_money}}&nbsp;manat</label>#}
{#                                </div><br>#}
{#                                <a href="{% url 'addbalance' barber.id %}"><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Hesabı artır</span></a><br><br>#}
{#                                <div class="col-md-12">#}
{#                                    <label style="font-size:18px;" class="labels"><b>Hesab tarixçəsi</b></label><br>#}
{#                                    {%for transaction in transactions%}#}
{#                                        <span> Məbləğ:&nbsp; {{transaction.money}}&nbsp;manat </span><br>#}
{#                                        <span> Tarix:&nbsp; {{transaction.date}} </span><br>#}
{#                                        <span> Əməliyyat:&nbsp;{{transaction.is_success_description}} </span><br>#}
{#                                        <span> -------------------------------------------------- </span><br>#}
{#                                    {%endfor%}#}
{#                                    <a href="{% url 'balance' barber.id %}"><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Daha ətraflı</span></a><br><br>#}
{#                                </div><br>#}<br>
                                <div class="col-md-12">
                                    <label style="font-size:18px;" class="labels"><b>Rezervasiya tarixçəsi</b></label><br>
                                        <span> Bugün:&nbsp;{{barber.count_reservation_current_day}}&nbsp;nəfər </span><br>
                                        <span> Bu ay:&nbsp;{{barber.count_reservation_current_month}}&nbsp;nəfər</span><br>
                                        <span> Ümumi:&nbsp;{{barber.count_reservation_all}}&nbsp;nəfər</span><br>
                                        <span> -------------------------------------------------- </span><br>
                                        <a href="{% url 'reservation-details' barber.id %}"><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Daha ətraflı</span></a><br><br>
                                </div><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>