{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Jafar Sadigzade">
        <title> Giriş </title>

        <!-- CSS -->
        <link rel="stylesheet" href="{% static '/css/signupstyle.css' %}">
                
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
                        
    </head>
    <body>
        <section class="container forms">
            <div class="form login">
                <div class="form-content">
                    <header>Parolu sıfırla</header>
                    <form method="POST">
                        {% csrf_token %}
                        {%if messages%}{%for message in messages%}<div style="background-color: rgba(255, 0, 0, 0.4); line-height: 1.5;"> {{message}}</div>{%endfor%}{%endif%}
                        <div class="field input-field">
                            <input type="password" placeholder="Password" class="password" name="password1">
                            <i class='bx bx-hide eye-icon'></i>
                        </div>
                        <div class="field input-field">
                            <input type="password" placeholder="Password təkrar" class="password" name="password2">
                            <i class='bx bx-hide eye-icon'></i>
                        </div>
                        <input type="hidden" name="user_id" value={{user_id}}>

                        <div class="field button-field">
                            <button>Təsdiqlə</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- JavaScript -->
        <script src="{% static '/js/signupscript.js' %}"></script>
    </body>
</html>