@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Oswald:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap");

body {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald", sans-serif;
    color: #1d2434;
    margin-top: 0px;
    font-style: normal;
    font-weight: 500;
    text-transform: normal
}

p {
    font-family: "Poppins", sans-serif;
    color: #10285d;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal
}

.img {
    max-width: 100%;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.fix {
    overflow: hidden
}

.clear {
    clear: both
}

a,
.button {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

a:focus,
.button:focus {
    text-decoration: none;
    outline: none
}

a {
    color: #635c5c
}

a:hover {
    color: #fff
}

a:focus,
a:hover {
    text-decoration: none
}

a,
button {
    color: #fff;
    outline: medium none
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0
}

.uppercase {
    text-transform: uppercase
}

input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.capitalize {
    text-transform: capitalize
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit
}

ul {
    margin: 0px;
    padding: 0px
}

li {
    list-style: none
}

hr {
    border-bottom: 1px solid #eceff8;
    border-top: 0 none;
    margin: 30px 0;
    padding: 0
}

.section-padding {
    padding-top: 120px;
    padding-bottom: 120px
}

.separator {
    border-top: 1px solid #f2f2f2
}

.btn {
    background: #d19f68;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    padding: 27px 44px;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    border-radius: 0px;
    line-height: 1;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin: 0
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 101%;
    height: 101%;
    background: #af804d;
    z-index: 1;
    border-radius: 5px;
    transition: transform 0.5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
    border-radius: 0px
}

.btn:hover::before {
    transform: scaleX(1);
    color: #fff !important;
    z-index: -1
}

.btn:hover {
    background-position: right
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none
}

.mt-5 {
    margin-top: 5px
}

.mb-5 {
    margin-bottom: 5px
}

.mb-80 {
    margin-bottom: 80px
}

.mb-100 {
    margin-bottom: 100px
}

.pt-5 {
    padding-top: 5px
}

.pb-180 {
    padding-bottom: 180px
}

@keyframes rotateme {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes rotateme {
    from {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes zoom {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s
    }
}

@keyframes zoom {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s
    }
}

@media (max-width: 575px) {
    .section-tittle {
        margin-bottom: 50px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .section-tittle {
        margin-bottom: 50px
    }
}

.section-tittle span {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 22px;
    color: #292c37;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 0.05em
}

@media (max-width: 575px) {
    .section-tittle span {
        font-size: 14px
    }
}

.section-tittle h2 {
    font-size: 50px;
    display: block;
    color: #1d2434;
    font-weight: 700;
    text-transform: uppercase
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .section-tittle h2 {
        font-size: 48px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .section-tittle h2 {
        font-size: 31px
    }
}

@media (max-width: 575px) {
    .section-tittle h2 {
        font-size: 27px
    }
}

.section-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed
}

@keyframes animate {

    0%,
    100% {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 69%, 100% 52%, 100% 100%, 0% 100%)
    }

    50% {
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%)
    }
}

.box {
    position: relative
}

.box img {
    width: 100%
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .team-area {
        padding-bottom: 100px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .team-area {
        padding-bottom: 50px
    }
}

@media (max-width: 575px) {
    .team-area {
        padding-bottom: 50px
    }
}

.team-area .single-team {
    position: relative
}

.team-area .single-team .team-img {
    overflow: hidden
}

.team-area .single-team .team-img img {
    width: 100%;
    transform: scale(1);
    transition: all 0.6s ease-out 0s
}

.team-area .single-team .team-caption {
    background-image: url(../img/gallery/team_bg.png);
    width: 350px;
    height: 155px;
    background-repeat: no-repeat;
    padding-top: 57px;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 1;
    position: absolute;
    bottom: -71px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    background-size: contain
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .team-area .single-team .team-caption {
        width: 256px;
        padding-top: 32px;
        bottom: -92px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .team-area .single-team .team-caption {
        width: 260px;
        padding-top: 32px;
        bottom: -92px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .team-area .single-team .team-caption {
        width: 220px;
        padding-top: 25px;
        bottom: -92px
    }
}

@media (max-width: 575px) {
    .team-area .single-team .team-caption {
        width: 235px;
        padding-top: 25px;
        bottom: -92px
    }
}

.team-area .single-team .team-caption::before {
    position: absolute;
    background-image: url(../img/gallery/team_bg2.png);
    content: "";
    width: 350px;
    height: 155px;
    background-repeat: no-repeat;
    transform: translateY(-53%);
    margin: 0 auto;
    left: 1px;
    bottom: -84px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    background-size: contain
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .team-area .single-team .team-caption::before {
        width: 256px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .team-area .single-team .team-caption::before {
        width: 260px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .team-area .single-team .team-caption::before {
        width: 220px
    }
}

@media (max-width: 575px) {
    .team-area .single-team .team-caption::before {
        width: 235px
    }
}

.team-area .single-team .team-caption span {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px
}

.team-area .single-team .team-caption h3 a {
    color: #ffff;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
    text-transform: uppercase
}

.team-area .single-team:hover .team-caption::before {
    opacity: 1;
    visibility: visible
}

.single-team:hover .team-img img {
    transform: scale(1.05)
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s
}

.contact-section {
    padding: 130px 0 100px
}

@media (max-width: 991px) {
    .contact-section {
        padding: 70px 0 40px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .contact-section {
        padding: 80px 0 50px
    }
}

b,
sup,
sub,
u,
del {
    color: #1f2b7b
}

.form-select {
    height: 40px;
    width: 100%
}

.form-select .current {
    margin-right: 50px;
    font-weight: 300
}